{%- assign parts = tab_content | split: "====" -%}
{%- unless include.tab_no_header -%}
<ul class="tab{% if include.tab_merge %} tab-merge{% endif %}" data-tab-group="{{ include.tab_group }}">
    {% for part in parts %}
    {%- assign header = part | split: "===" -%}
    {%- assign header = header[0] -%}
    <li><a href="#">{{ header | strip }}</a></li>
    {% endfor %}
</ul>
{%- endunless -%}
<ul class="tab-content" data-tab-group="{{ include.tab_group }}">
    {% for part in parts %}
    {%- assign content = part | split: "===" -%}
    {%- assign content = content[1] -%}
    <li>{{ content | markdownify }}</li>
    {% endfor %}
</ul>